*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::placeholder{
    color: #ffffff9a;

}
input:focus-visible {
    outline: none;
}

/*Search Bar*/
.search-bar-container{
    display: flex;
    justify-content: space-around;
}

.search-bar{
    max-width: 1140px;
    align-items: center;
    width: 80%;
}
.searchBar input {
    display: flex;
    background-color: #E7E7E7;
    border: none;
    width: 100%;
    border-radius: 5px;
    color: #0000006c;
}
.searchBar button {
    position: absolute;
    border: none;
    top: 25%;
    right: 3%;
    content: "";
    background-image: url(./img/search.svg);
    display:flex; 
    width: 30px;
    height: 30px;
}


/*Dropdowns*/

.dropdown-container{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;

}
.btn{
    border: none;
}
.btn-group{
    position: relative;
    border-radius: 5px;
    font-size: 20px;
    min-width: 170px;
    position: relative;
    z-index: 2;
    border: none;
}
.dropdown{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.row{
    align-items: center;
    margin-right: 0;
    margin-left: 0;
}
.col-lg-6{
    padding-left: 0;
    padding-right: 0;
}
.dropdown-menu{
    border-radius: 0 0 5px 5px;
    margin-top:0;
    border: none;
}
.show{
    border-radius: 0 0 0 0;
}
.dropdown-item{
    width: 30%;
}
.dropdown-list{
    width:100%;
}
.display-inline{
    display: inline-block;
}
.ingredient-color{
    background-color: #007bff; 
}
.ustensil-color{
    background-color: #dc3545;
}
.appliance-color{
    background-color: #68D9A4;
}
.selector-name{
    color:#fff
}
.selector-name-display-none{
    display: none;
}
.selector-name-display{
    display: block;
}
.input-selector-display-none{
    display: none;
}
.input-selector{
    color: white;   
}
.input-selector-display{
    color: white;   
}
.input-selector-display{
    border: none;
    background: inherit;
    width: 100%;
}
.display-block {
    display: block;
}

/*Tags*/
.tags-container{
    display:flex;
}
.tags{
    margin-left: 30px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;

}
.keyword-tag{
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 15px;
}

/*Recipe cards*/
.container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.recipes{
    margin-top: 50px;
}
.card{
    height:380px;
    width:360px;
    overflow: hidden;
    border-radius: 4px;
}

.card-body{
    background-color: rgb(235, 235, 235);

}
.card-img-top{
    height: 180px;
    background-color: #C7BEBE;
}
.card-body-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card-title{
    font-size: 18px;
}
.cook-time{
    font-weight: bold;
    display: flex;
    gap:4px;
    align-items: center;
    font-size:14px
}
.card-body-bot{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    
}
.ingredients-list{
    list-style: none;
    width: 40%;
    line-height: 1.2;
}
.description{
    width: 55%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    max-height: calc(7 * 15px);
}
/*No-recipe alert*/

.no-recipe{
    width: 80%;
    height: 200px;
    color: red;
}
